[project]
name = "projeto-base"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pydantic-settings>=2.12.0",
]

[dependency-groups]
dev = [
    "bumpversion>=0.6.0",
    "pre-commit>=4.5.1",
    "ruff>=0.14.11",
]
